{% extends 'shop/base.html' %}

{% load my_func %}

{% block title %}
<title>搜索列表</title>
{% endblock %}

{% block left %}



      <div class="ogami-breadcrumb">
        <div class="container">
          <ul>
            <li> <a class="breadcrumb-link" href="{% url 'shop:index' %}"> <i class="fas fa-home"></i>Home</a></li>
            <li> <a class="breadcrumb-link active">Shop</a></li>
          </ul>
        </div>
      </div>
      <!-- End breadcrumb-->


      <div class="shop-layout">
        <div class="container">
          <div class="row">


            <div class="col-xl-3">
              <div class="shop-sidebar">
                <button class="no-round-btn" id="filter-sidebar--closebtn">Close sidebar</button>


                <div class="shop-sidebar_color-filter">
                  <div class="color-filter_top mini-tab-title underline">
                    <h2 class="title">Color</h2>
                  </div>
                  <div class="color-filter_bottom">
                    <div class="row">

                      <div class="col-6">
                        {% getcolor as color %}
                        {% for c in color %}
                        <div class="color">
                          <div class="visible-color"></div><a href="{% url 'shop:colors' c.id %}">{{ c.title }} ({{c.foods_set.count}})</a>
                        </div>
                        {% endfor %}
                      </div>

                    </div>
                  </div>
                </div>

                <div class="shop-sidebar_tag">
                  <div class="tag_top mini-tab-title underline">
                    <h2 class="title">Product tag</h2>
                  </div>

                  <div class="tag_bottom">
                    {% gettag as tag %}
                    {% for t in tag %}
                    <a class="tag-btn" href="{% url 'shop:tags' t.id %}">{{ t.title }}</a>
                    {% endfor %}


                  </div>

                </div>
              </div>


              <div class="filter-sidebar--background" style="display: none"></div>
            </div>


            <div class="col-xl-9">
              <div class="shop-grid-list">
                <div class="shop-products">
                  <div class="shop-products_top mini-tab-title underline">
                    <div class="row align-items-center">
                      <div class="col-6 col-xl-4">
                        <h2 class="title">{{ query }}</h2>
                      </div>
                      <div class="col-6 text-right">
                        <div id="show-filter-sidebar">
                          <h5> <i class="fas fa-bars"></i>Show sidebar</h5>
                        </div>
                      </div>
                      <div class="col-12 col-xl-8">
                        <div class="product-option">
                          <div class="product-filter">

                          </div>
                          <div class="view-method">
                            <p class="active" id="grid-view"><i class="fas fa-th-large"></i></p>
                            <p id="list-view"><i class="fas fa-list"></i></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Using column-->
                  </div>
                  <div class="shop-products_bottom">
                    <div class="row no-gutters-sm">


                      <!--$$$$$$$$$$$$$$$$$$$$$-->

                      {% for f in page.object_list %}

                      <div class="col-6 col-md-4">

                        <div class="product">

                          <div class="product-img_block"><a class="product-img" href="{% url 'shop:detail' f.id %}"><img src="/media/{{ f.img1 }}" alt=""></a>
                            <!--<button class="quickview no-round-btn smooth">查看详细</button>-->
                          </div>
                          <div class="product-info_block">
                            <h5 class="product-type">{{ f.tags.first }}</h5><a class="product-name" href="{% url 'shop:detail' f.id %}">{{ f.name }}</a>
                            <h3 class="product-price">{{ f.price2 }}
                              <del>{{ f.price1 }}</del>
                            </h3>
                            <!--<h5 class="product-rated"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i><span>(5)</span></h5>-->
                            <p class="product-describe">{{ f.intro }}</p>
                            <!--<h5 class="product-avaiable">Avability: <span>5 In stock</span></h5>-->
                            <!--<button class="add-to-wishlist button-borderless"><i class="icon_heart_alt"></i></button>-->
                          </div>
                          <div class="product-select">
                            <!--<button class="add-to-wishlist round-icon-btn"> <i class="icon_heart_alt"></i></button>-->
                            <button class="add-to-cart round-icon-btn">  <i class="icon_bag_alt"></i></button>
                            <!--<button class="add-to-compare round-icon-btn"> <i class="fas fa-random"></i></button>-->
                            <!--<button class="quickview round-icon-btn"> <i class="far fa-eye"></i></button>-->
                          </div>
                          <div class="product-select_list">
                            <p class="delivery-status">免费配送</p>
                            <h3 class="product-price">
                              <del>{{ f.price1 }}</del>{{ f.price2 }}
                            </h3>
                            <button class="add-to-cart normal-btn outline">添加到购物车</button>
                            <!--<button class="add-to-compare normal-btn outline">+ Add to Compare</button>-->
                          </div>


                        </div>

                      </div>
                      {% endfor %}
                      <!--$$$$$$$$$$$$$$$$$$$$-->

                    </div>
                  </div>
                  <div class="shop-pagination">
                    <ul>
                      {% if page.has_previous %}
                      <li class="no-round-btn smooth"><a href="?page={{ page.previous_page_number }}">上一页</a></li>
                      {% endif %}

                      {% for i in page.paginator.page_range %}
                          {% if i == page.number %}
                          <li class="no-round-btn smooth active" style="background-color: #22bb22"><a href="?page={{i}}">{{ i }}</a></li>
                          {% else %}
                          <li class="no-round-btn smooth"><a href="?page={{i}}">{{ i }}</a></li>
                          {% endif %}
                      {% endfor %}

                      <!--<li>-->
                        <!--<button class="no-round-btn smooth active">1</button>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<button class="no-round-btn smooth">2</button>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<button class="no-round-btn smooth">3</button>-->
                      <!--</li>-->
                      {% if page.has_next %}
                      <li class="no-round-btn smooth"><a href="?page={{ page.next_page_number }}">下一页</a></li>
                      {% endif %}
                      <!--<li>-->
                        <!--<button class="no-round-btn smooth"> <i class="arrow_carrot-2right"></i></button>-->
                      <!--</li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End shop layout-->





{% endblock %}