{% extends 'shop/base.html' %}

{% load my_func %}

{% block title %}
<title>商品详细</title>
{% endblock %}

{% block left %}


      <div class="ogami-breadcrumb">
        <div class="container">
          <ul>
            <li> <a class="breadcrumb-link" href="{% url 'shop:index' %}"> <i class="fas fa-home"></i>Home</a></li>
            <li> <a class="breadcrumb-link" href="{% url 'shop:list' %}">Shop</a></li>
            <li> <a class="breadcrumb-link active" href="#">Shop Detail Sidebar</a></li>
          </ul>
        </div>
      </div>
      <!-- End breadcrumb-->
      <div class="shop-layout">
        <div class="container">
          <div class="row">
            <div class="col-xl-3">
              <div class="shop-sidebar">
                <button class="no-round-btn" id="filter-sidebar--closebtn">Close sidebar</button>


                <div class="shop-sidebar_color-filter">
                  <div class="color-filter_top mini-tab-title underline">
                    <h2 class="title">Color</h2>
                  </div>
                  <div class="color-filter_bottom">
                    <div class="row">

                      <div class="col-6">
                        {% getcolor as color %}
                        {% for c in color %}
                        <div class="color">
                          <div class="visible-color"></div><a href="{% url 'shop:colors' c.id %}">{{ c.title }} ({{c.foods_set.count}})</a>
                        </div>
                        {% endfor %}
                      </div>

                    </div>
                  </div>
                </div>

                <div class="shop-sidebar_tag">
                  <div class="tag_top mini-tab-title underline">
                    <h2 class="title">Product tag</h2>
                  </div>

                  <div class="tag_bottom">
                    {% gettag as tag %}
                    {% for t in tag %}
                    <a class="tag-btn" href="{% url 'shop:tags' t.id %}">{{ t.title }}</a>
                    {% endfor %}


                  </div>

                </div>
              </div>


              <div class="filter-sidebar--background" style="display: none"></div>
            </div>
            <div class="col-xl-9">
              <div class="shop-detail">
                <div class="row">
                  <div class="col-12"> 
                    <div id="show-filter-sidebar">
                      <h5> <i class="fas fa-bars"></i>Show sidebar</h5>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="shop-detail_img">
                      <button class="round-icon-btn" id="zoom-btn"> <i class="icon_zoom-in_alt"></i></button>
                      <div class="big-img">
                        <div class="big-img_block"><img src="/media/{{ food.img1 }}" alt="product image"></div>
                        <div class="big-img_block"><img src="/media/{{ food.img2 }}" alt="product image"></div>
                        <div class="big-img_block"><img src="/media/{{ food.img3 }}" alt="product image"></div>
                      </div>
                      <div class="slide-img">
                        <div class="slide-img_block"><img src="/media/{{ food.img1 }}" alt="product image"></div>
                        <div class="slide-img_block"><img src="/media/{{ food.img2 }}" alt="product image"></div>
                        <div class="slide-img_block"><img src="/media/{{ food.img3 }}" alt="product image"></div>
                      </div>
                    </div>
                    <div class="img_control"></div>
                  </div>

                  <!--&&&&&&&&&&&&&&&&&&&&&&&&-->
                  <div class="col-12 col-lg-6">

                    <form method="get" action="{% url 'shop:incart' food.id %}">
                      <div class="shop-detail_info">
                      <h5 class="product-type color-type">{{ food.tags.first }}</h5>
                      <h2 class="product-name">{{ food.name }}</h2>
                      <!--<p class="product-describe">{{ food.intro }}</p>-->
                      <!--<a class="product-more" href="#">View more <i class="arrow_carrot-2right"></i></a>-->
                      <p class="delivery-status">免费配送</p>
                      <div class="price-rate">
                        <h3 class="product-price"> 
                          <del>{{ food.price1 }}</del>{{ food.price2 }}
                        </h3>
                        <!--<h5 class="product-rated"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i><span>(15)</span></h5>-->
                      </div>
                      <p class="product-describe">{{ food.intro }}</p>
                      <div class="color-select">
                        <!--<h5>Select Color:</h5><a class="color bg-danger" href="#"></a><a class="color bg-success" href="#"></a><a class="color bg-info" href="#"></a>-->
                      </div>
                      <div class="quantity-select">
                        <label for="quantity">数量:</label>
                        <input class="no-round-input" id="quantity" name="number" type="number" min="1" value="1">
                      </div>
                      <div class="product-select">
                        <button type="submit" class="add-to-cart normal-btn outline">添加到购物车</button>
                        <!--<button class="add-to-compare normal-btn outline">+ Add to Compare</button>-->
                      </div>
                      <div class="product-share">
                        <h5>Share link:</h5><a href=""><i class="fab fa-facebook-f"> </i></a><a href=""><i class="fab fa-twitter"></i></a><a href=""><i class="fab fa-invision"> </i></a><a href=""><i class="fab fa-pinterest-p"></i></a>
                      </div>
                    </div>
                    </form>

                  </div>

                  <!--&&&&&&&&&&&&&&&&&&&&&&&&-->

                  <div class="col-12">
                    <div class="shop-detail_more-info">
                      <div id="tab-so3">
                        <ul class="mb-0">
                          <li class="active"><a href="#tab-1">真诚推荐</a></li>
                          <li><a href="#tab-2">商品规格</a></li>
                          <li> <a href="#tab-3">用户评论</a></li>
                        </ul>
                        <div id="tab-1">
                          <div class="description-block">
                            <div class="description-item_block">
                              <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                  <div class="description-item_img"><img class="img-fluid" src="/static/images/shop/shop_detail_img.png" alt="description image"></div>
                                </div>
                                <div class="col-12 col-md-6">
                                  <div class="description-item_text">
                                    <h2>推荐理由</h2>
                                    <p>{{ food.shoperintro }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="description-item_block">
                              <div class="row align-items-center">
                                <div class="col-md-6">
                                  <div class="description-item_img"><img class="img-fluid" src="/static/images/shop/shop_detail_img_2.png" alt="description image"></div>
                                </div>
                                <div class="col-md-6">
                                  <div class="description-item_text">
                                    <h2>专家推荐</h2>
                                    <p>{{ food.exintro }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="tab-2">
                          <div class="specifications_block">
                            <table class="shop_attributes table-bordered">
                              <tbody>
                                <tr>
                                  <th>商品名</th>
                                  <td class="product_weight">{{ food.name }}</td>
                                </tr>
                                <tr>
                                  <th>商品标签</th>
                                  <td class="product_dimensions">{{ food.tags.first }}</td>
                                </tr>
                                <tr>
                                  <th>商品颜色</th>
                                  <td class="product_color">{{ food.color }}</td>
                                </tr>
                                <tr>
                                  <th>商品简介</th>
                                  <td class="product_size">{{ food.intro }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div id="tab-3"> 
                          <div class="customer-reviews_block">
                            <div class="customer-review">
                              <div class="row">
                                <div class="col-12 col-sm-3 col-lg-2">
                                  <div class="customer-review_left">
                                    <div class="customer-review_img text-center"><img class="img-fluid" src="/static/images/shop/reviewer_01.png" alt="customer image"></div>
                                    <div class="customer-rate"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i></div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-9 col-lg-10">
                                  <div class="customer-comment"> 
                                    <h5 class="comment-date">27 Aug 2016</h5>
                                    <h3 class="customer-name">Jenney Kelley</h3>
                                    <p class="customer-commented">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna alation uidem dolore eu fugiat nulla pariatur. </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="customer-review">
                              <div class="row">
                                <div class="col-12 col-sm-3 col-lg-2">
                                  <div class="customer-review_left">
                                    <div class="customer-review_img text-center"><img class="img-fluid" src="/static/images/shop/reviewer_02.png" alt="customer image"></div>
                                    <div class="customer-rate"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i></div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-9 col-lg-10">
                                  <div class="customer-comment"> 
                                    <h5 class="comment-date">27 Aug 2016</h5>
                                    <h3 class="customer-name">Jenney Kelley</h3>
                                    <p class="customer-commented">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna alation uidem dolore eu fugiat nulla pariatur. </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="add-review">
                              <div class="add-review_top">
                                <h2>Add Review</h2>
                              </div>
                              <div class="add-review_bottom">
                                <form action="" method="post">
                                  <div class="row">
                                    <div class="col-12 col-md-6">
                                      <input class="no-round-input" type="text" placeholder="Name*">
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <input class="no-round-input" type="text" placeholder="Email*">
                                    </div>
                                    <div class="col-12">
                                      <div class="rating">
                                        <h5>Your rating:</h5><span><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></span>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <textarea class="textarea-form" id="review" name="" cols="30" rows="4" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                      <button class="normal-btn">Submit Review</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End shop layout-->



{% endblock %}