{% extends 'shop/base.html' %}


{% block title %}
<title>FAQ</title>
{% endblock %}

{% block left %}




      <div class="ogami-breadcrumb">
        <div class="container">
          <ul>
            <li> <a class="breadcrumb-link" href="{% url 'shop:index' %}"> <i class="fas fa-home"></i>Home</a></li>
            <li> <a class="breadcrumb-link active" href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <!-- End breadcrumb-->
      <div class="faq">
        <div class="container">
          <div id="accordion">
            <div class="faq-question"><i class="icon_plus"></i>
              <h3 class="faq-question">Is there anything I should bring?</h3>
            </div>
            <div class="faq-answer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="faq-question"><i class="icon_plus"></i>
              <h3 class="faq-question">Where can I find market research reports?</h3>
            </div>
            <div class="faq-answer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="faq-question"><i class="icon_plus"></i>
              <h3 class="faq-question">Where can I find the Wall Street Journal ?</h3>
            </div>
            <div class="faq-answer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End about us-->



{% endblock %}