{% extends 'shop/base.html' %}


{% block title %}
<title>商品列表</title>
{% endblock %}

{% block left %}



      <div class="ogami-breadcrumb">
        <div class="container">
          <ul>
            <li> <a class="breadcrumb-link" href="{% url 'shop:index' %}"> <i class="fas fa-home"></i>Home</a></li>
            <li> <a class="breadcrumb-link active">Shop</a></li>
          </ul>
        </div>
      </div>
      <!-- End breadcrumb-->


      <div class="shop-layout">
        <div class="container">
          <div class="row">
            <div class="col-xl-3">
              <div class="shop-sidebar">
                <button class="no-round-btn" id="filter-sidebar--closebtn">Close sidebar</button>
                <div class="shop-sidebar_department">
                  <div class="department_top mini-tab-title underline">
                    <h2 class="title">Departments</h2>
                  </div>
                  <div class="department_bottom">
                    <ul>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Fresh Meat</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Vegetables</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Fruit & Nut Gifts</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Fresh Berries</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Ocean Foods</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Butter & Eggs</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Fastfood</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Fresh Onion</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Papayaya & Crisps</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Oatmeal</a></li>
                      <li> <a class="department-link" href="shop_grid+list_3col.html">Fresh Bananas</a></li>
                    </ul>
                  </div>
                </div>

                <div class="shop-sidebar_color-filter">
                  <div class="color-filter_top mini-tab-title underline">
                    <h2 class="title">Color</h2>
                  </div>
                  <div class="color-filter_bottom">
                    <div class="row">
                      <div class="col-6">
                        <div class="color">
                          <div class="visible-color" style="background-color: black;"></div><a href="shop_grid+list_3col.html">Black (12)</a>
                        </div>
                        <div class="color">
                          <div class="visible-color" style="background-color: red;"></div><a href="shop_grid+list_3col.html">Red (4)</a>
                        </div>
                        <div class="color">
                          <div class="visible-color" style="background-color: orange;"></div><a href="shop_grid+list_3col.html">Orange (8)</a>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="color">
                          <div class="visible-color" style="background-color: blue;"></div><a href="shop_grid+list_3col.html">Blue (4)</a>
                        </div>
                        <div class="color">
                          <div class="visible-color" style="background-color: green;"></div><a href="shop_grid+list_3col.html">Green (9)</a>
                        </div>
                        <div class="color">
                          <div class="visible-color" style="background-color: pink;"></div><a href="shop_grid+list_3col.html">Pink (12)</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="shop-sidebar_tag">
                  <div class="tag_top mini-tab-title underline">
                    <h2 class="title">Product tag</h2>
                  </div>
                  <div class="tag_bottom"><a class="tag-btn" href="shop_grid+list_3col.html">organic</a><a class="tag-btn" href="shop_grid+list_3col.html">vegatable</a><a class="tag-btn" href="shop_grid+list_3col.html">fruits</a><a class="tag-btn" href="shop_grid+list_3col.html">fresh meat</a><a class="tag-btn" href="shop_grid+list_3col.html">fastfood</a><a class="tag-btn" href="shop_grid+list_3col.html">natural</a></div>
                </div>
              </div>
              <div class="filter-sidebar--background" style="display: none"></div>
            </div>
            <div class="col-xl-9">
              <div class="shop-grid-list">
                <div class="shop-products">
                  <div class="shop-products_top mini-tab-title underline">
                    <div class="row align-items-center">
                      <div class="col-6 col-xl-4">
                        <h2 class="title">商品列表</h2>
                      </div>
                      <div class="col-6 text-right">
                        <div id="show-filter-sidebar">
                          <h5> <i class="fas fa-bars"></i>Show sidebar</h5>
                        </div>
                      </div>
                      <div class="col-12 col-xl-8">
                        <div class="product-option">
                          <div class="product-filter">

                          </div>
                          <div class="view-method">
                            <p class="active" id="grid-view"><i class="fas fa-th-large"></i></p>
                            <p id="list-view"><i class="fas fa-list"></i></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--Using column-->
                  </div>
                  <div class="shop-products_bottom">
                    <div class="row no-gutters-sm">


                      <!--$$$$$$$$$$$$$$$$$$$$$-->


                      <div class="col-6 col-md-4">
                        <div class="product">
                          <div class="product-img_block"><a class="product-img" href="{% url 'shop:detail' %}"><img src="/static/images/product/product01.png" alt=""></a>
                            <button class="quickview no-round-btn smooth">Quick view</button>
                          </div>
                          <div class="product-info_block">
                            <h5 class="product-type">Oranges</h5><a class="product-name" href="{% url 'shop:detail' %}">Pure Pineapple</a>
                            <h3 class="product-price">$14.00 
                              <del>$35.00</del>
                            </h3>
                            <h5 class="product-rated"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i><span>(5)</span></h5>
                            <p class="product-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor niam</p>
                            <h5 class="product-avaiable">Avability: <span>5 In stock</span></h5>
                            <button class="add-to-wishlist button-borderless"><i class="icon_heart_alt"></i></button>
                          </div>
                          <div class="product-select">
                            <button class="add-to-wishlist round-icon-btn"> <i class="icon_heart_alt"></i></button>
                            <button class="add-to-cart round-icon-btn">  <i class="icon_bag_alt"></i></button>
                            <button class="add-to-compare round-icon-btn"> <i class="fas fa-random"></i></button>
                            <button class="quickview round-icon-btn"> <i class="far fa-eye"></i></button>
                          </div>
                          <div class="product-select_list">
                            <p class="delivery-status">Free delivery</p>
                            <h3 class="product-price"> 
                              <del>$35.00</del>$14.00
                            </h3>
                            <button class="add-to-cart normal-btn outline">Add to Cart</button>
                            <button class="add-to-compare normal-btn outline">+ Add to Compare</button>
                          </div>
                        </div>
                      </div>

                      <!--$$$$$$$$$$$$$$$$$$$$-->

                    </div>
                  </div>
                  <div class="shop-pagination">
                    <ul>
                      <li>
                        <button class="no-round-btn smooth active">1</button>
                      </li>
                      <li>
                        <button class="no-round-btn smooth">2</button>
                      </li>
                      <li>
                        <button class="no-round-btn smooth">3</button>
                      </li>
                      <li>
                        <button class="no-round-btn smooth"> <i class="arrow_carrot-2right"></i></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End shop layout-->





{% endblock %}